<ion-view view-title="青青晓园">
  <ion-header-bar class="bar-stable bar-dark">
    <ion-title class="title-left">
      <span  ng-if="!isOnline"><i class="ion ion-ios-bolt assertive dis-animate"></i></span>
      <span>{{AppName}}</span>
      <span ng-if="NewMessageCount>0">({{NewMessageCount}})</span>
      <span><ion-spinner ng-if="LoadingServer" icon="lines" class="spinner-balanced"></ion-spinner></span>
    </ion-title>
    <button class="button ion-android-add"></button>
  </ion-header-bar>
  <ion-content>
    <ion-list id="mainlist">
      <ion-item ng-repeat="chat in chats" ng-dis ng-click="chatWith('{{chat.userid}}','{{chat.name}}')">
        <!--
        <label ng-if="chat.online" class="">
          <img ng-src="chat.to.image" ng-if="chat.to.image">
          <img ng-src="../../img/avata_128.jpg" ng-if="!chat.to.image">
        </label>
        <label ng-if="!chat.online" class="offline">
          <img ng-src="chat.to.image" ng-if="chat.to.image">
          <img ng-src="../../img/avata_128.jpg" ng-if="!chat.to.image">
        </label>-->
        <label ng-if="chat.image&&chat.image!='undefined'">
          <img ng-src="{{chat.image}}">
        </label>
        <label ng-if="!chat.image||chat.image=='undefined'">
          <img ng-src="img/avata_128.jpg">
        </label>
        <!--
        <div class="new-small" ng-if="chat.new!=0&&chat.new>9"></div>
        -->
        <div class="new" ng-if="chat.new!=0">{{chat.new | mynum}}</div>
        <div class="right">
          <div class="name">
            {{chat.name}}
            <div class="date" ng-if="chat.createAt!=0">
              {{chat.createAt | mydate}}
            </div>
          </div>
          <p class="content">
            <label style="font-size: 15px;line-height: 15px;color:green" ng-if="chat.type==='sending'"><i class="icon ion-ios-paperplane balanced"></i></label>
            <label style="font-size: 15px;line-height: 15px;color:red" ng-if="chat.type==='failed'"><i class="icon ion-information-circled assertive"></i></label>
            <span ng-if="chat.content=='[\image\]'">[图片]</span>
            <span ng-if="chat.content!='[\image\]'">{{chat.content}}</span>
          </p>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
